@using BlogBlazorUI.Models;
@layout MainLayout

<div class="row mt-2">
    <RadzenCard>
        <div class="row">
            <RadzenText TextStyle="TextStyle.H6" Class="rz-color-primary-light"><strong>Archived Articles</strong></RadzenText>
        </div>
        @if (ArchivedArticlesVM == null)
        {
            <div class="row justify-content-center align-items-center">
                <BSSpinner></BSSpinner>
            </div>

        }
        else
        {
            if (ArchivedArticlesVM?.Count > 0)
            {
                foreach (var aa in ArchivedArticlesVM)
                {
                    <div class="row">
                        <RadzenText TextStyle="TextStyle.Body1" Class="rz-color-primary-light">
                            <a class="btn btn-link rz-color-black" href="/articles/@aa.year/@aa.month">
                                <i class="fas fa-arrow-right"></i> <strong>@aa.year @aa.monthName</strong>
                            </a>
                        </RadzenText>
                    </div>
                }
            }

        }

    </RadzenCard>
</div>


@code {
    [Inject]
    HttpClient HttpClient { get; set; }

    RestClient RestClient = new RestClient();

    private List<ArchivedArticleVM> ArchivedArticlesVM { get; set; }
    public int tillTheYears { get; set; } = 5;

    protected override async Task OnInitializedAsync()
    {
        //
        RestDataResponse<List<ArchivedArticleVM>> response = await RestClient.Get<List<ArchivedArticleVM>>($"Articles/ArchivesArticles/{tillTheYears}");
        if (response.IsSuccess)
        {
            ArchivedArticlesVM = response.Data;
        }

        StateHasChanged();
    }
}