@using BlogBlazorUI.Models;
@layout MainLayout

<div class="row">
    <RadzenCard>
        <div class="row">
            <RadzenText TextStyle="TextStyle.H6" Class="rz-color-primary-light"><strong>Article Categories</strong></RadzenText>
        </div>
        @if (MenuCategories == null)
        {
            <div class="row justify-content-center align-items-center">
                <BSSpinner></BSSpinner>
            </div>

        }
        else
        {
            if (MenuCategories?.Count > 0)
            {
                foreach (var mc in MenuCategories)
                {
                    <div class="row">
                        <RadzenText TextStyle="TextStyle.Body1" Class="rz-color-primary-light">
                            <a class="btn btn-link rz-color-black" href="/articles/@mc.Id">
                                <i class="fas fa-arrow-right"></i> <strong>@mc.Name</strong>
                        </a></RadzenText>
                    </div>
                }
            }

        }
      
    </RadzenCard>
</div>


@code {
    [Inject]
    HttpClient HttpClient { get; set; }

    private List<CategoryVM> MenuCategories { get; set; }

    protected override async Task OnInitializedAsync()
    {

        MenuCategories = await HttpClient.GetFromJsonAsync<List<CategoryVM>>($"Categories");

        StateHasChanged();
    }
}
