@using BlogBlazorUI.Models;
@using BlogBlazorUI.Service;
@layout MainLayout

<div class="row mt-2">
    <RadzenCard>
        <div class="row">
            <RadzenText TextStyle="TextStyle.H6" Class="rz-color-primary-light"><strong>Most Viewed Articles</strong></RadzenText>
        </div>
        @if (MVArticles == null)
        {
            <div class="row justify-content-center align-items-center">
                <BSSpinner></BSSpinner>
            </div>

        }
        else
        {
            if (MVArticles?.Count > 0)
            {
                foreach (var mva in MVArticles)
                {
                    <div class="row">
                        <RadzenText TextStyle="TextStyle.Body1" Class="rz-color-primary-light">
                            <a class="btn btn-link rz-color-black" href="/article/@mva.Id">
                                <i class="fas fa-arrow-right"></i> <strong>@mva.Name</strong>
                            </a>
                        </RadzenText>
                    </div>
                }
            }

        }

    </RadzenCard>
</div>


@code {

    private List<ArticleVM>? MVArticles { get; set; }

    protected override async Task OnInitializedAsync()
    {

        if (!await ArticleService.GetMostViewedArticles(new ApiHelper(),"Articles/MostViewedArticles"))
        {
            System.Console.WriteLine("Most viewed articles error");
        }
        MVArticles = ArticleService.MostViewedArticlesResponse.Data;


        StateHasChanged();
    }
}
