@using BlogBlazorUI.Pages.Client;
@layout MainLayout


<MudAppBar Bottom="true" Fixed="false" Color="MudBlazor.Color.Primary" Elevation="1">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="MudBlazor.Color.Inherit" Edge="Edge.Start" />
    <MudSpacer />
    <MudButton Variant="Variant.Text" Color="MudBlazor.Color.Inherit">About</MudButton>
    <MudButton Variant="Variant.Text" Color="MudBlazor.Color.Inherit" >Contact</MudButton>
    <MudButton Href="register" Variant="Variant.Text" Color="MudBlazor.Color.Inherit">Register</MudButton>
    <MudButton Href="login" Variant="Variant.Text" Color="MudBlazor.Color.Inherit">Login</MudButton>
    <MudIconButton Icon="@Icons.Material.Filled.FavoriteBorder" Color="MudBlazor.Color.Inherit" Edge="Edge.End" />
    <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="MudBlazor.Color.Inherit" Edge="Edge.End" />
</MudAppBar>



@*<BSNavbar Color="BSColor.Light">
    <BSContainer Container="Container.Fluid">
        <BSNavbarBrand>Navbar</BSNavbarBrand>
        <BSCollapse IsInNavbar="true">
            <Toggler>
                <BSNavbarToggle />
            </Toggler>
            <Content>
                <BSNav MarginEnd="Margins.Auto"  MarginBottom="Margins.Small" Class="mb-lg-0">
                    <BSNavItem Url="/">
                        Home
                    </BSNavItem>
                    <BSNavItem Url="about">About</BSNavItem>
                    <BSNavItem Url="contact">Contact</BSNavItem>
                  
                </BSNav>
            </Content>
        </BSCollapse>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <BSButton Color="BSColor.Success" IsOutlined="true">Search</BSButton>
        </form>
    </BSContainer>
</BSNavbar>*@

@code{


   
}