@layout MainLayout
@page "/"
@page "/page/{index:int}"
@*@page "/page/{pageIndex}"*@
@using BlogBlazorUI.components.Client

@inherits IndexBase

@if (Articles == null || Articles.Count == 0)
{

    <div class="col-md-8 d-flex justify-content-center">
        <BSSpinner></BSSpinner>
    </div>

   
}
@if (Articles?.Count > 0)
{
    <div class="col-md-8">
        @foreach (var article in Articles)
        {
            <!--Articles section starts here-->
            <Article ArticleVM="@article" />
            <!--Articles section ends here-->
        }
        <div class="row mt-2">
            <Pagination PageCount="paginationCount"
                        PageIndex="@pageIndex"
                        OnPageLinkClick="@OnPageClick"
                        NextEllipsisPageIcon="fas fa-ellipsis-h"
                        PrevEllipsisPageIcon="fas fa-ellipsis-h"
                        MaxPageLinkCount="10"
                        NextPageIcon="fas fa-sharp fa-solid fa-arrow-right"
                        PrevPageIcon="fas fa-sharp fa-solid fa-arrow-left">
            </Pagination>
        </div>
    </div>

}
