@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider
@using System.Security.Claims
@using BlogBlazorUI.components
@using BlogBlazorUI.components.Client

@if (authorized)
{
    <BlogBlazorUI.components.Admin.Navbar />
    <AuthorizeView>
        <div class="container mt-2">
            @Body
        </div>
    </AuthorizeView >
}
else
{
    <Navbar />
    <UnAuthorizedPage />
}

@code {
    private bool authorized = false;

    protected override async Task OnInitializedAsync()
    {
        string role = (await AuthStateProvider.GetAuthenticationStateAsync())
        .User.Claims.FirstOrDefault(x => x.Type == "Roles").Value;

        if (role.Contains("Admin") || role.Contains("Editor"))
        {
            authorized = true;
        }
    }
}